<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Erfasste Störungen</ion-title>

    <ion-buttons end>
        <button (click)="toggleSwipeAvailability()">
            <ion-icon name="cloud-upload"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>


<ion-content padding class="getting-started">


    <!--<ion-row responsive-sm>-->
        <!--<ion-col width-50 *ngFor="#task of getTasks()">-->
            <!--<task [value]="task"-->
                  <!--(delete)="deleteTask(task)"-->
                  <!--(submit)="deleteTask(task)"></task>-->
        <!--</ion-col>-->
    <!--</ion-row>-->

    <p *ngIf="getTasks().length == 0">Noch keine Störungen erfasst</p>

    <ion-list>
        <ion-item-sliding *ngFor="#task of getTasks()" [swipeable]="task">
            <ion-item>
                <ion-thumbnail item-left>
                    <img [src]="task.getFrontImage().toResourceUrl()">
                </ion-thumbnail>
                <h2>{{task.title}}</h2>
                <p>Erfasst am {{task.date | date:'short'}}</p>
            </ion-item>
            <ion-item-options>
                <button primary (click)="submitTask(task)">
                    <ion-icon name="cloud-upload"></ion-icon>
                    Senden
                </button>
                <button danger (click)="deleteTask(task)">
                    <ion-icon name="trash"></ion-icon>
                    Löschen
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>


    <button fab fab-right (click)="createTask()"><ion-icon name="add"></ion-icon></button>

</ion-content>
