<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Störungserfassung</ion-title>

    <ion-buttons end>
        <button (click)="toggleSwipeAvailability()">
            <ion-icon name="cloud-upload"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>


<ion-content padding class="getting-started">

    <h3>Neue Störung vormerken</h3>

    <ion-list>

        <ion-item>
            <ion-label floating>Gesamtbeschreibung</ion-label>
            <ion-input type="text" [(ngModel)]="task.title"></ion-input>
        </ion-item>

        <ion-item *ngFor="#image of task.images">
            <ion-thumbnail item-left>
                <img [src]="image.toResourceUrl()">
            </ion-thumbnail>
            <ion-label floating>Bildbeschreibung (optional)</ion-label>
            <ion-input type="text" [(ngModel)]="image.description"></ion-input>
            <button danger item-right clear (click)="deleteImage(image)">
                <ion-icon name='trash' is-active="false"></ion-icon>
            </button>
        </ion-item>

        <ion-item>
            <button primary (click)="pickImage()">
                <ion-icon name="add"></ion-icon>
                Bild hinzufügen
            </button>
        </ion-item>

    </ion-list>

    <p>
        <button primary (click)="saveTask()">Speichern</button>
    </p>

    <hr />

    <h3>Vorgemerkte Störungen</h3>

    <ion-row responsive-sm>
        <ion-col width-50 *ngFor="#task of savedTasks">

            <task [value]="task"
                  (delete)="deleteTask(task)"
                  (submit)="submitTask(task)"></task>

        </ion-col>
    </ion-row>

</ion-content>
