swipe-target {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;

  height: 100px;

  transform: translate3d(0, -9999px, 0);

  z-index: 99;
}

.selectedTarget {
  background: red;
}

.swipeable__available {
  animation-name: glow;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 99999;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px 0px rgba(108, 183, 241, 1);
  }
  50% {
    box-shadow: 0 0 0px 0px rgba(108, 183, 241, 1);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(108, 183, 241, 1);
  }
}